/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul, ol {
    padding-left: 18px;
    list-style: none;
}


/*
    general
*/

.container {
    width: 70%;
    margin: 0 auto;
    background-color: white;
    border-radius:5px;
    margin-bottom:10px;
}

body {
    background-color: #c4c4c450;
}

/*
    header
*/
header {
    background-color: white;
    padding: 5px 10px;
    margin-bottom: 50px;
}

header h1, header img {
    vertical-align: middle;
    display: inline-block;
}

/*
    main
*/
.button{
    display:inline-block;
    margin:10px;
    border: 1px solid black;
    border-radius:5px;
}