/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul, ol {
    padding-left: 18px;
    list-style: none;
}


/*
    general
*/

.container {
    width: 60%;
    margin: 0 auto;
    padding:30px ;
    background-color: white;
    border-radius:5px;
    margin-bottom:10px;
}

body {
    background-color: #c4c4c450;
}

h2{
    margin:20px 0;
}

.turquoise{
    background-color: turquoise;
}

.indigo{
    background-color: indigo;
}

.orange{
    background-color: orange;
}

.pink{
    background-color: rgb(214, 77, 123);
}

.green{
    background-color: rgb(88, 214, 84);
}


/*
    header
*/
header {
    background-color: white;
    padding: 5px 10px;
    margin-bottom: 50px;
}

header h1, header img {
    vertical-align: middle;
    display: inline-block;
    
}

/*
    main
*/

.post-it{
    color:white;
    border-radius:20px;
    margin:5px;
    padding:10px;
}

/*sezione superiore main*/
.button{
    display:inline-block;
    padding:10px;
    border: 1px solid black;
    border-radius:5px;
} 
.white{
    background-color: white;
    color:grey;
    border-color:grey;
}

.blue{
    background-color:blue;
    color:white;
    border-color:blue;
}




/*sezione inferiore*/

li{
    margin:15px;
}



.check {
    border-radius: 50%;
    border: 1px solid black;
    color: black;
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
}

.done {
    border-color: green;
    color: green;
}

.not-done {
    border-color: red;
    color: red;
}